*
{
	margin: 0;
	padding: 0;
}

header
{
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.25)),url(Background1.JPG);
	height: 100%;
	background-size: cover;
	background-position: center;
}

.main-nav
{
	float: left;
	list-style: none;
	margin-top: 2.7%;
}

.main-nav li
{
	display: inline-block;
}

.main-nav li a
{
	color: white;
	text-decoration: none;
	padding: 0.46% 1.05%;
	font-family: "Roboto", sans-serif;
	font-size: 1.39%;
}

.main-nav li.active a
{
	border: 2px dotted white
}

.main-nav li a:hover
{
	border: 1px solid white
}

.profilePic img
{
	position: absolute;
	top: 27.8%;
	left: 23%;
	border-radius: 30%;
}

body
{
	font-famply: monospace;
}

.row
{
	max-width: 100%;
	margin: auto;
}

.hero
{
	position: absolute;
	top: 27%;
	left: 47%;
	padding: 1%;
}

h1
{
	color: white;
	text-transform: uppercase;
	font-size: 200%;
}

.button
{
	margin-top: 26%;
	margin-left: -46%;
}

.bttn
{
	border: 2px solid white;
	padding: 0.65% 2%;
	color: white;
	font: 100%;
	text-transform: uppercase;
	text-decoration: none;
	font-family: "Roboto", sans-serif;
}

.bttn:hover
{
	background-color:blue;
	transition: all 0.25s ease-in;
}

.Vbutton
{
	position: relative;
	top: 50px;
	left: -35%;
}

.overlay { /* could have put this under .button, but I want a little choice */
    overflow: auto;
    background: rgba(0, 0, 0, 0.4);
}

p
{
	position: relative;
	top: -280px;
	margin-left: 0.25%;
	max-width: 65%;
	color: white;
	font-size: 100%;
}

.contact
{
	margin-top: 0;
	margin-left: -1%;
	font-size: 100%;
	color: white;
	text-decoration: none;
	padding: 1.5%;
	font-family: "Roboto", sans-serif;
}