.WebContainer
{
    	width: 100%;
    	height: auto;
	margin: 0;
	padding: 0;
}

.articles
{
   	width:90%; /*Takes 90% width from WebContainer*/
    	height: auto;
    	margin: auto;
} 

header
{
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.25)),url(Background1.JPG);
	height: 100%;
	background-size: cover;
	background-position: center;
}

.main-nav
{
	float: left;
	list-style: none;
	margin-top: 2.7%;
}

.main-nav li
{
	display: inline-block;
}

.main-nav li a
{
	color: white;
	text-decoration: none;
	padding: 0.46% 1.05%;
	font-family: "Roboto", sans-serif;
	font-size: 1.39%;
}

.main-nav li.active a
{
	border: 2px dotted white
}

.main-nav li a:hover
{
	border: 1px solid white
}

.profilePic img
{
	position: absolute;
	top: 27.8%;
	left: 20%;
	border-radius: 30%;
}

body
{
	font-famply: monospace;
}

.row
{
	max-width: 100%;
	margin: auto;
}

.hero
{
	position: absolute;
	top: 22%;
	left: 44%;
	padding: 1%;
	vertical-align:middle;
}

h1
{
	color: white;
	text-transform: uppercase;
	font-size: 1.75vmax;

	margin:auto;
	vertical-align:middle;
}


p1
{
	position: fixed;
	margin-left: 0.25%;
	max-width: 35%;
	color: white;
	font-size: 0.9vmax;
	text-align:justify;
	height:fit-content;
	margin:auto;
	vertical-align:middle;
}

.contact 
{
	/*width: 100%;
	position: relative;
	margin-top: 60%;
	margin-left: -1%;
	font-size: 1vmax;
	color: white;
	text-decoration: none;
	padding: 1.5%;
	font-family: "Roboto", sans-serif;*/

	width: 100%;
	position: relative;
	margin-top: 100%;
	font-size: 0.9vmax;
	color: white;
	text-decoration: none;
	padding: 1.5%;
	font-family: "Roboto", sans-serif;
	
	
	/top:60%;/

	/display: block;/
	/margin:auto;/
	/vertical-align:middle;/
}

.button
{
	position: absolute;
	top: 60%;
	left: 23.5%;
}

.Vbutton
{
	position: relative;
	top: 2.5vmax;
	left: -49%;
}

.button-si
{
	position: relative;
	top: 4vmax;
	left: 10%;
}

.bttn 
{
	border: 2px solid White;
	padding: 1% 2%;
	color: white;
	font-size: 0.75vmax;
	text-transform: uppercase;
	text-decoration: none;
	font-family: "Roboto", sans-serif;
}

.bttn:hover
{
	border: 2px solid Black;
	background-color:rgba(71, 178, 217, 0.25);
	transition: all 0.25s ease-in;
}

.overlay 
{ /* could have put this under .button, but I want a little choice */
    overflow: auto;
    background: rgba(0, 0, 0, 0.4);
}

