*
{
	margin: 0;
	padding: 0;
}

header
{
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.25)),url(Background1.JPG);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.main-nav
{
	float: left;
	list-style: none;
	margin-top: 30px;
}

.main-nav li
{
	display: inline-block;
}

.main-nav li a
{
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
}

.main-nav li.active a
{
	border: 2px dotted white
}

.main-nav li a:hover
{
	border: 1px solid white
}

.profilePic img
{
	position: absolute;
	top: 300px;
	left: 300px;
	border-radius: 30%;
}

body
{
	font-famply: monospace;
}

.row
{
	max-width: 2000px;
	margin: auto;
}

.hero
{
	position: absolute;
	top: 300px;
	left: 790px;
	padding: 10px;
}

h1
{
	color: white;
	text-transform: uppercase;
	font-size: 30px;
}

.button
{
	margin-top: 270;
	margin-left: -493;
}

.bttn
{
	border: 2px solid white;
	padding: 10px 30px;
	color: white;
	font: 13px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: "Roboto", sans-serif;
}

.bttn:hover
{
	background-color:blue;
	transition: all 0.25s ease-in;
}

p
{
	position: relative;
	top: -280;
	margin-left: 20px;
	max-width: 650px;
	color: white;
	font-size: 17px;
}

.contact
{
	margin-top: 0;
	margin-left: -20;
	font-size: 15px;
	color: white;
	text-decoration: none;
	padding: 20px;
	font-family: "Roboto", sans-serif;
}